<div id="modal-create" class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Create  Ticket</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn  btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" id="save" class="btn btn-basic">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="form-create">
                    <div class="section p-1">
                        
                        <div class="custom-input mb-3">
                            <label for="input-name" class="font-weight-bold mb-1">Title</label>
                            <input id="input-name" type="text" name="title" placeholder="Text">
                        </div>
                    
                        <div class="custom-input mb-3">
                            <label for="input-severity" class="font-weight-bold mb-1">Severity</label>
                            <select class="selectpicker bootstrap-select__b w-100-imp" data-style="btn" name="severity" id="input-severity">
                                <option>Critical</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                                <option>Info</option>
                            </select>
                        </div>

                        <div class="custom-input mb-3">
                            <label for="input-type" class="font-weight-bold mb-1">Ticket Type</label>
                            <select class="selectpicker bootstrap-select__b w-100-imp" data-style="btn" name="type" id="input-type">
                                <option>Vulnerability</option>
                                <option>Bug</option>
                                <option>Activity</option>
                            </select>
                        </div>

                        <div class="custom-input mb-3">
                            <label for="input-external-link" class="font-weight-bold mb-1">External Link</label>
                            <input type="text"  name="external_link" id="input-external-link" placeholder="Url">
                        </div>

                        <div class="custom-input mb-3">
                            <label for="input-engagement" class="font-weight-bold mb-1">Engagement</label>
                            <select class="selectpicker bootstrap-select__b w-100-imp" data-style="btn" name="engagement" id="input-engagement">
                            </select>
                        </div>

                        <div class="custom-input mb-3">
                            <label for="input-tags" class="font-weight-bold mb-1">Tags</label>
                            <input type="text"  name="tags" id="input-tags" placeholder="Text">
                        </div>

                        <div class="custom-input mb-3">
                            <label for="input-assignee" class="font-weight-bold mb-1">Assignee</label>
                            <select class="selectpicker bootstrap-select__b w-100-imp" data-style="btn" name="assignee" id="input-assignee">
                            </select>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_date" class="font-weight-bold mb-1">Start Date</label>
                                    <input type="date" name="start_date" id="input-start-date" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_date" class="font-weight-bold mb-1">End Date</label>
                                    <input type="date" name="end_date" id="input-end-date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="custom-input mb-3">
                            <label for="text-description" class="font-weight-bold mb-1">Description</label>
                            <div name="description" id="textarea-description"></div>
                        </div>

                        <div class="custom-input mb-3">
                            <label for="text-description" class="font-weight-bold mb-1">Attachments</label>
                            <div class="card w-100 card-stripped p-3">
                                <form id="upload-attachment" enctype="multipart/form-data">
                                    <div id="dropArea" class="drop-area">
                                        <input type="file" id="dropInput" multiple accept="image/*" onchange="handleFiles(this.files)">
                                        <label for="dropInput" class="mb-0 d-flex align-items-center justify-content-center">Drag & drop file or <span>&nbsp;browse</span></label>
                                    </div>
                                    <div id="previewArea" class="preview-area"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
