  <!-- <div id="content">
  <div class="container-fluid">
    <div class="card card-table-sm mt-3">
      <div class="card-header">
        <div class="row">
          <div class="col-4">
              <h4>Tickets</h4>
          </div>
          <div class="col-8">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2" data-toggle="modal" data-target="#modal-create"><i class="fas fa-plus"></i></button>
              <button type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2"><i class="fas fa-sync"></i></button>
              <button type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2"><i class="fas fa-filter"></i></button>
            </div>
          </div>
        </div>
      </div>
        <div class="card-body card-tableless">
            <table class="table table-border"
                  id="table"
                  data-toggle="table"
                  data-url="{{ url_for('api.v1.issues.issues', project_id=project_id) }}"
                  data-unique-id="id"
                  data-virtual-scroll="true"
                  data-pagination="true"
                  data-page-list="[10, 25, 50, 100, all]"
                  data-side-pagination="server"
                  data-pagination-pre-text="<img src='/design-system/static/assets/ico/arrow_left.svg'>"
                  data-pagination-next-text="<img src='/design-system/static/assets/ico/arrow_right.svg'>"
            >
                <thead class="thead-light">
                  <tr>
                    <th data-field="snapshot.title">Title</th>
                    <th data-field="severity">Severity</th>
                    <th data-field="type">Type</th>
                    <th data-field="scan_project">Project</th>
                    <th data-field="asset">Asset</th>
                    <th data-field="source_type">Source</th>
                    <th data-field="status">Status</th>
                    <th data-field="state.value">State</th>
                    <th data-field="tags">Tags</th>
                    <th data-formatter="actionsFormatter" data-events="actionsEvents">Actions</th>
                  </tr>
                </thead>
            </table>
        </div>
      </div>
  </div>
  </div>   -->

<tickets
  @register="register"
  instance_name="tickets"
></tickets>


{% include "issues:issues/modal_view.html" %}
{% include "issues:issues/part/create_modal.html" %}
{% include "issues:issues/part/edit_modal.html" %}
