<link rel="stylesheet" href="{{url_for('issues.static', filename='css/vendor/bootstrap-table.min.css')}}">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('design-system.static', filename='assets/js/color-picker/dist/coloris.min.css') }}" />
<link rel="stylesheet" href="{{url_for('issues.static', filename='css/summernote-custom.css')}}">

<link rel="stylesheet" href="{{url_for('engagements.static', filename='css/top_engagement_bar.css')}}">

<link rel="stylesheet" href="{{url_for('issues.static', filename='css/ticket_detail.css')}}">
<link rel="stylesheet" href="{{url_for('issues.static', filename='css/main.css')}}">