.ticket-cell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 4px;
    cursor: pointer;
}

.ticket-cell .ticket-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 8px;
    align-self: stretch;
    min-width: 0;
}

.ticket-cell .ticket-title .title{
    flex: 1;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #32325D;
    text-overflow: ellipsis;
}


.ticket-cell .ticket-title .ticket-type{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #525F7F;
}

.title-selected{
    color: #5933C6;
}

.ticket-cell-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.card-detail-row {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.card-detail-row .param {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.ticket-card .card-detail-row .param .param-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #525F7F;
    text-transform: capitalize;
}

.gray-bg{
    background: var(--gray300);
}

.detail-container{
    display: grid;
    grid-template-columns: 1fr 1.12fr;
    align-items: start;
}

.small-table-container{
    height: 520px;
}

